- name: Create chroot script
  become: true
  ansible.builtin.copy:
    dest: "{{ xchroot_script_root | default('/mnt') }}/script"
    content: |
      {{ xchroot_script_content }}
    mode: "0644"
- name: Run chroot script
  become: true
  environment:
    LANG: C.UTF-8
  ansible.builtin.command:
    cmd: "xchroot {{ xchroot_script_root | default('/mnt') }} /bin/bash /script"
  changed_when: true
- name: Remove script
  become: true
  ansible.builtin.file:
    path: "{{ xchroot_script_root | default('/mnt') }}/script"
    state: absent
