- name: Configure windows user
  hosts: nuc-windows-user
  tasks:
    - name: Install scoop to user
      ansible.windows.win_shell: Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
    - name: Add scoop bucket
      community.windows.win_scoop_bucket:
        name: extras
- name: Configure windows admin
  hosts: nuc-windows-admin
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Link scoop folder
      tags: scoop_folder
      block:
        - name: Create folder
          ansible.windows.win_file:
            path: D:\scoop
            state: directory
        - name: Global scoop folder stat
          ansible.windows.win_stat:
            path: C:\ProgramData\scoop
          register: scoop_stat
        - name: Check stat
          ansible.builtin.debug:
            var: scoop_stat
        - name: Create scoop folder
          ansible.windows.win_shell: |
            & cmd /c "mklink /j %ProgramData%\scoop D:\scoop"
          when: scoop_stat.stat.isjunction is false
    - name: Install init packages via scoop
      community.windows.win_scoop:
        name: "{{ item }}"
        global: true
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - aria2
        - git
    - name: Add extra bucket
      community.windows.win_scoop_bucket:
        name: extras
    - name: Install base packages via scoop
      tags: pkg
      community.windows.win_scoop:
        name: "{{ item }}"
        global: true
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - aichat
        - bat
        - less
        - broot
        - adb
        - sfsu
        - vim
        - helix
        - hugo
        - ffmpeg
        - imagemagick
        - coreutils
        - gsudo
        - innounp
        - dua
        - duf
        - dust
        - eza
        - fd
        - grep
        - exiftool
        - clipboard
        - clink
        - clink-completions
        - cmder-full
        - chezmoi
        - croc
        - cwrsync
        - dufs
        # hash check filed
        # - ffsend
        - gallery-dl
        - fzf
        - everything-cli
        - dog
        - goodbyedpi
        - gpg
        - gopass
        - git-lfs
        - jj
        - diff-so-fancy
        - delta
        - gitql
        - gitui
        - btop
        - cacert
        - haskell
        - haskell-cabal
        - haskell-language-server
        - binutils
        - autocorrect
        - firefox
        - brave
        - espanso
        - windows-terminal
