- name: Configure windows user
  hosts: nuc-windows-user
  tasks:
    - name: Install scoop to user
      ansible.windows.win_shell: Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
    - name: Add scoop bucket
      community.windows.win_scoop_bucket:
        name: extras
- name: Configure windows admin
  hosts: nuc-windows-admin
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Update powershell help
      tags: powershell-help
      ansible.windows.win_shell: Update-help
    - name: Create scoop folder
      ansible.windows.win_shell: |
        $TargetPath = "D:\scoop"
        $LinkPath = Join-Path $env:ProgramData "scoop"
        New-Item -Path $TargetPath -ItemType Directory -Force | Out-Null
        if (Test-Path -Path $LinkPath) {
            Write-Host "Symbolic link already exists at $LinkPath. Skipping creation."
            exit
        }
        & cmd /c "mklink /j %ProgramData%\scoop D:\scoop"
    - name: Install scoop-cn
      ansible.windows.win_shell: irm https://cdn.jsdelivr.net/gh/duzyn/scoop-cn/install.ps1 | iex
    - name: Install init packages via scoop
      community.windows.win_scoop:
        name: "{{ item }}"
        global: true
        no_cache: true
      loop:
        - scoop-cn/aria2
        - scoop-cn/git
    - name: Add extra bucket
      community.windows.win_scoop_bucket:
        name: extras
    - name: Add scoop-cn bucket
      community.windows.win_scoop_bucket:
        name: scoop-cn
        repo: https://gh-proxy.com/https://github.com/duzyn/scoop-cn.git
    - name: Install base packages via scoop
      tags: pkg
      community.windows.win_scoop:
        name: "{{ item }}"
        global: true
        no_cache: true
      loop:
        - scoop-cn/aichat
        - scoop-cn/bat
        - scoop-cn/less
        - scoop-cn/broot
        - scoop-cn/adb
        - scoop-cn/sfsu
        - scoop-cn/vim
        - scoop-cn/helix
        - scoop-cn/hugo
        - scoop-cn/ffmpeg
        - scoop-cn/imagemagick
        - scoop-cn/coreutils
        - scoop-cn/gsudo
        - scoop-cn/innounp
        - scoop-cn/dua
        - scoop-cn/duf
        - scoop-cn/dust
        - scoop-cn/eza
        - scoop-cn/fd
        - scoop-cn/grep
        - scoop-cn/exiftool
        - scoop-cn/clipboard
        - scoop-cn/clink
        - scoop-cn/clink-completions
        - scoop-cn/cmder-full
        - scoop-cn/chezmoi
        - scoop-cn/croc
        - scoop-cn/cwrsync
        - scoop-cn/dufs
        - scoop-cn/ffsend
        - scoop-cn/gallery-dl
        - scoop-cn/fzf
        - scoop-cn/everything-cli
        - scoop-cn/dog
        - scoop-cn/goodbyedpi
        - scoop-cn/gpg
        - scoop-cn/gopass
        - scoop-cn/git-lfs
        - scoop-cn/jj
        - scoop-cn/diff-so-fancy
        - scoop-cn/delta
        - scoop-cn/gitql
        - scoop-cn/gitui
        - scoop-cn/btop
        - scoop-cn/cacert
        - scoop-cn/haskell
        - scoop-cn/haskell-cabal
        - scoop-cn/haskell-language-server
        - scoop-cn/binutils
        - scoop-cn/autocorrect
        - scoop-cn/firefox
        - scoop-cn/brave
        - scoop-cn/espanso
        - scoop-cn/windows-terminal
