---
- name: Configure windows admin
  hosts: nuc-windows-admin
  tags: admin
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install choco pacakges
      chocolatey.chocolatey.win_chocolatey:
        name: "{{ item }}"
        state: present
      loop:
        - qview
        - firefox
        - mpv
    - name: Uninstall choco pacakges
      chocolatey.chocolatey.win_chocolatey:
        name: "{{ item }}"
        state: absent
      loop:
        - gimp
    - name: Link scoop folder
      tags: scoop_folder
      block:
        - name: Create folder
          ansible.windows.win_file:
            path: D:\scoop
            state: directory
        - name: Global scoop folder stat
          ansible.windows.win_stat:
            path: C:\ProgramData\scoop
          register: scoop_stat
        - name: Create scoop folder
          ansible.windows.win_shell: |
            & cmd /c "mklink /j %ProgramData%\scoop D:\scoop"
          when: scoop_stat.stat.exists is false or scoop_stat.stat.isjunction is false
    - name: Install init packages via scoop
      community.windows.win_scoop:
        name: '{{ item }}'
        global: true
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop: [aria2, git]
    - name: Add bucket
      community.windows.win_scoop_bucket:
        name: "{{ item }}"
        state: present
      loop:
        - extras
        - nerd-fonts
    - name: Update scoop
      ansible.windows.win_shell: "{{ ansible_facts.user_dir }}/scoop/apps/scoop/current/bin/scoop.ps1 update"
    - name: Install main packages via scoop
      tags: scoop-main
      community.windows.win_scoop:
        name: "{{ item }}"
        state: present
        global: true
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - clink
        - clink-completions
        - cmder-full
        - pwsh
        - nu
        - fastfetch
        - ntop
        - btop
        - which
        - ttyper
        - fd
        - bat
        - less
        - rnr
        - shasum
        - zoxide
        - coreutils
        - nircmd
        - grep
        - ripgrep
        - dua
        - dust
        - tealdeer
        - sd
        - eza
        - duf
        - navi
        - unrar
        - unzip
        - mcfly
        - starship
        - aichat
        - croc
        - cwrsync
        - dufs
        - miniserve
        - portal
        - rclone
        - syncthing
        # hash check filed
        # - ffsend
        - dos2unix
        - goodbyedpi
        - innounp
        - lessmsi
        - gsudo
        - nssm
        - pipx
        - winget
        - clipboard
        - adb
        - scrcpy
        - cacert
        - scoop-search
        - hugo
        - exiftool
        - imagemagick
        - vim
        - helix
        - neovim
        - ffmpeg
        - everything-cli
        - jj
        - git-lfs
        - diff-so-fancy
        - delta
        - gitui
        - gitql
        - gallery-dl
        - yt-dlp
        - gpg
        - openssl
        - gopass
        - dog
        - nali
        - nmap
        - q-dns
        - tcping
        - pandoc
        - broot
        - fzf
        - chezmoi
        - lf
        - yazi
        - chsrc
        - autocorrect
        - perl
        - nodejs-lts
        - tectonic
        - haskell
        - haskell-cabal
        - haskell-language-server
        - stack
        - make
        - task
        - msys2
        - shellcheck
        - binutils
    - name: Install extras packages via scoop
      tags: scoop-extras
      community.windows.win_scoop:
        name: '{{ item }}'
        global: true
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - kdeconnect
        - autohotkey
        - autoclicker
        # install failed
        # - calibre
        # windows can't set default browser to this
        # - firefox
        - brave
        - qutebrowser
        - ungoogled-chromium
        - telegram
        - windowsdesktop-runtime-lts
        - sioyek
        - sumatrapdf
        - zeal
        - libreoffice
        - wpsoffice
        - aria-ng-gui
        - eget
        - transmission
        - notepadplusplus
        - vscodium
        - emacs
        - anki
        - cfssl
        - mc
        - vifm
        - doublecmd
        - locale-emulator
        - ludusavi
        - playnite
        - sunshine
        - lazygit
        - gitu
        - nomacs
        # installed via choco
        # - qview
        - gimp
        - qmk-toolbox
        - vial
        - kanata
        - komokana
        - qalculate
        - fiddler
        - siyuan-note
        - qrscan
        - rustdesk
        - tightvnc
        - flameshot
        - television
        - carapace-bin
        - ttdl
        - sfsu
        - psfzf
        - psreadline
        - winspy
        - windhawk
        - glazewm
        - zebar
        - komorebi
        - yasb
        - whkd
        - flclash
        - diskgenius
        - flow-launcher
        - dhcp-server
        - hourglass
        - copyq
        - everything
        - deskflow
        - coretemp
        - bulk-crap-uninstaller
        - windows-terminal
        - alacritty
        - wezterm
        - espanso
        - copytranslator
        - rufus
        - ventoy
        - jellyfin-mpv-shim
        # install failed
        # - miru
        # installed via choco
        # - mpv
        - handbrake
        - openboard
    - name: Install Microsoft Subsystem for Linux
      ansible.windows.win_optional_feature:
        name: Microsoft-Windows-Subsystem-Linux
        state: present
      register: wsl_status
    - name: Reboot if installing Linux Subsytem as feature requires it
      ansible.windows.win_reboot:
      when: wsl_status.reboot_required
- name: Configure windows user
  hosts: nuc-windows-user
  tags: user
  tasks:
    - name: Install scoop to user
      ansible.windows.win_shell: Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
    - name: Add bucket
      community.windows.win_scoop_bucket:
        name: "{{ item }}"
        state: present
      loop:
        - extras
        - nerd-fonts
    - name: Remove origin folder
      ansible.windows.win_file:
        path: '{{ ansible_facts.user_dir }}/{{ item }}'
        state: absent
      loop:
        - Downloads
    - name: Create folder
      ansible.windows.win_file:
        path: D:/{{ item }}
        state: directory
      loop:
        - Downloads
    - name: Link to new folder
      ansible.windows.win_shell: |
        & cmd /c "mklink /j ""{{ ansible_facts.user_dir }}\{{ item }}"" ""D:\{{ item }}"""
      loop:
        - Downloads
    - name: Add pipx bin path to PATH
      tags: path
      ansible.windows.win_path:
        state: present
        scope: user
        elements: '%userprofile%\.local\bin'
    - name: Link pipx folder
      tags: pipx_folder
      block:
        - name: Create folder
          ansible.windows.win_file:
            path: D:\pipx
            state: directory
        - name: Remove origin folder
          ansible.windows.win_file:
            path: "{{ ansible_facts.user_dir }}/pipx"
            state: absent
        - name: Link pipx folder
          ansible.windows.win_shell: |
            & cmd /c "mklink /j %userprofile%\pipx D:\pipx"
    - name: Install pipx packages
      ansible.windows.win_shell: "C:\\ProgramData\\scoop\\shims\\pipx install {{ item }}"
      loop:
        - leo
        - advance-touch
        - xonsh[full]
