---
- name: Configure windows admin
  hosts: nuc-windows-admin
  tags: admin
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install choco pacakges
      chocolatey.chocolatey.win_chocolatey:
        name: "{{ item }}"
        state: present
      loop:
        - qview
        - firefox
        - mpv
    - name: Uninstall choco pacakges
      chocolatey.chocolatey.win_chocolatey:
        name: "{{ item }}"
        state: absent
      loop:
        - gimp
    - name: Install init packages via scoop
      community.windows.win_scoop:
        name: '{{ item }}'
        global: false
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - aria2
    - name: Add bucket
      community.windows.win_scoop_bucket:
        name: "{{ item }}"
        state: present
      loop:
        - extras
        - nerd-fonts
    - name: Install Microsoft Subsystem for Linux
      ansible.windows.win_optional_feature:
        name: Microsoft-Windows-Subsystem-Linux
        state: present
      register: wsl_status
    - name: Reboot if installing Linux Subsytem as feature requires it
      ansible.windows.win_reboot:
      when: wsl_status.reboot_required
    - name: Hide admin account
      tags: hide-admin
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon\SpecialAccounts\UserList
        type: dword
        name: Admin
        data: 0
    - name: Windows firewall rules
      tags: firewall
      block:
        - name: Croc firewall rule in
          community.windows.win_firewall_rule:
            name: Croc firewall rule in
            localport: 9009-9013
            action: allow
            direction: in
            protocol: tcp
            state: absent
            enabled: true
        - name: Croc firewall rule out
          community.windows.win_firewall_rule:
            name: Croc firewall rule out
            localport: 9009-9013
            action: allow
            direction: out
            protocol: tcp
            state: absent
            enabled: true
- name: Configure windows user
  hosts: nuc-windows-user
  tags: user
  tasks:
    - name: Install init packages via scoop
      community.windows.win_scoop:
        name: '{{ item }}'
        global: false
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - aria2
        - lessmsi
        - 7zip
        - git
    - name: Update scoop config
      tags: scoop-config
      block:
        - name: Facts
          ansible.builtin.gather_facts:
          when: ansible_facts is not defined
        - name: Check scoop config file
          ansible.windows.win_stat:
            path: "{{ ansible_facts.user_dir }}\\.config\\scoop\\config.json"
          register: scoop_config_stat
        - name: Get scoop config content 
          ansible.windows.slurp:
            src: "{{ ansible_facts.user_dir }}\\.config\\scoop\\config.json"
          register: scoop_config_content
          when: scoop_config_stat.stat.exists is true
        - name: Set scoop config
          vars:
            config:
              use_lessmsi: true
              aria2-enabled: true
              aria2-warning-enabled: false
              cat_style: auto
              show_manifest: true
              use_sqlite_cache: true
              force_update: true
              use_external_7zip: true
          ansible.windows.win_copy:
            dest: "{{ ansible_facts.user_dir }}\\.config\\scoop\\config.json"
            content: "{{ scoop_config_content.content | b64decode | from_json | combine(config) | to_json }}"
          when: scoop_config_stat.stat.exists is true
        - name: Set scoop config
          vars:
            config:
              use_lessmsi: true
              aria2-enabled: true
              aria2-warning-enabled: false
              cat_style: auto
              show_manifest: true
              use_sqlite_cache: true
              force_update: true
              use_external_7zip: true
          ansible.windows.win_copy:
            dest: "{{ ansible_facts.user_dir }}\\.config\\scoop\\config.json"
            content: "{{ config | to_json }}"
          when: scoop_config_stat.stat.exists is false
    - name: Add bucket
      community.windows.win_scoop_bucket:
        name: "{{ item }}"
        state: present
      loop:
        - extras
        - nerd-fonts
    - name: Update scoop
      tags: scoop-update
      block:
        - name: Facts
          ansible.builtin.gather_facts:
          when: ansible_facts is not defined
        - name: Update scoop
          ansible.windows.win_shell: "{{ ansible_facts.user_dir }}/scoop/apps/scoop/current/bin/scoop.ps1 update"
        - name: Update scoop packages
          ansible.windows.win_shell: "{{ ansible_facts.user_dir }}/scoop/apps/scoop/current/bin/scoop.ps1 update --all"
        - name: Remove scoop cache
          ansible.windows.win_shell: "{{ ansible_facts.user_dir }}/scoop/apps/scoop/current/bin/scoop.ps1 cache remove *"
        - name: Clean up scoop packages
          ansible.windows.win_shell: "{{ ansible_facts.user_dir }}/scoop/apps/scoop/current/bin/scoop.ps1 cleanup --all"
    - name: Install main packages via scoop
      tags: scoop-main
      community.windows.win_scoop:
        name: "{{ item }}"
        state: present
        global: false
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - clink
        - clink-completions
        - cmder-full
        - pwsh
        - nu
        - yori
        - fastfetch
        - ntop
        - btop
        - which
        - ttyper
        - fd
        - bat
        - less
        - rnr
        - shasum
        - zoxide
        - coreutils
        - nircmd
        - grep
        - ripgrep
        - dua
        - dust
        - tealdeer
        - sd
        - eza
        - duf
        - navi
        - unrar
        - unzip
        - mcfly
        - starship
        - aichat
        - croc
        - cwrsync
        - dufs
        - miniserve
        - portal
        - rclone
        - syncthing
        # hash check filed
        # - ffsend
        - dos2unix
        - goodbyedpi
        - innounp
        - gsudo
        - nssm
        - pipx
        - winget
        - clipboard
        - adb
        - scrcpy
        - cacert
        - scoop-search
        - hugo
        - exiftool
        - imagemagick
        - vim
        - helix
        - neovim
        - ffmpeg
        - git-annex
        - everything-cli
        - jj
        - git-bug
        - git-lfs
        - git-absorb
        - diff-so-fancy
        - delta
        - git-crypt
        - gitui
        - gitql
        - gallery-dl
        - yt-dlp
        - gpg
        - openssl
        - gopass
        - dog
        - nali
        - nmap
        - q-dns
        - tcping
        - pandoc
        - broot
        - fzf
        - chezmoi
        - lf
        - yazi
        - chsrc
        - editorconfig
        - autocorrect
        - taplo
        - perl
        - nodejs-lts
        - tectonic
        - haskell
        - haskell-cabal
        - haskell-language-server
        - stack
        - make
        - task
        - msys2
        - shellcheck
        - binutils
    - name: Install extras packages via scoop
      tags: scoop-extras
      community.windows.win_scoop:
        name: '{{ item }}'
        global: false
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - kdeconnect
        - autohotkey
        - autoclicker
        # install failed
        # - calibre
        # windows can't set default browser to this
        # - firefox
        - brave
        - qutebrowser
        - ungoogled-chromium
        - telegram
        - windowsdesktop-runtime-lts
        - sioyek
        - sumatrapdf
        - zeal
        - libreoffice
        - wpsoffice
        - aria-ng-gui
        - eget
        - transmission
        - notepadplusplus
        - vscodium
        - emacs
        - lunarvim
        - gcc
        - anki
        - cfssl
        - mc
        - vifm
        - doublecmd
        - locale-emulator
        - ludusavi
        - playnite
        - sunshine
        - lazygit
        - gitu
        - nomacs
        # installed via choco
        # - qview
        - gimp
        - photodemon
        - photoflare
        - qmk-toolbox
        - vial
        - kanata
        - komokana
        - qalculate
        - fiddler
        - siyuan-note
        - qrscan
        - rustdesk
        - tightvnc
        - flameshot
        - television
        - carapace-bin
        - ttdl
        - sfsu
        - psfzf
        - psreadline
        - winspy
        - windhawk
        - glazewm
        - zebar
        - komorebi
        - yasb
        - whkd
        - flclash
        - diskgenius
        - smartmontools
        - crystaldiskinfo
        - wiztree
        - flow-launcher
        - dhcp-server
        - hourglass
        - copyq
        - bleachbit
        - everything
        - deskflow
        - coretemp
        - bulk-crap-uninstaller
        - windows-terminal
        - alacritty
        - wezterm
        - espanso
        - copytranslator
        - rufus
        - ventoy
        - jellyfin-mpv-shim
        - vlc
        # install failed
        # - miru
        # installed via choco
        # - mpv
        - handbrake
        - openboard
    - name: Install nerd fonts packages via scoop
      tags: scoop-fonts
      community.windows.win_scoop:
        name: '{{ item }}'
        global: false
        no_cache: true
      register: result
      retries: 3
      delay: 5
      until: result is not failed
      loop:
        - Maple-Mono-NF-CN
    - name: Add pipx bin path to PATH
      tags: path
      ansible.windows.win_path:
        state: present
        scope: user
        elements: '%userprofile%\.local\bin'
    - name: Install pipx packages
      tags: pipx-install
      ansible.windows.win_shell: "pipx install {{ item }}"
      loop:
        - leo
        - advance-touch
        - xonsh[full]
