- name: Configure surface void linux
  hosts: surface-void
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install packages
      become: true
      vars:
        system:
          - xfce4
          - xfce4-battery-plugin
          - xorg
          - intel-video-accel
          - intel-ucode
          - noto-fonts-ttf
          - noto-fonts-cjk
          - nerd-fonts
          - noto-fonts-emoji
        gui:
          - firefox
        cli:
          - chezmoi
          - fzf
          - git
          - starship
          - vim
          - zoxide
          - eza
          - duf
          - lf
          - ranger
          - helix
          - htop
          - btop
          - mpv
      block:
        - name: Upgrade all packages
          community.general.xbps:
            upgrade: true
        - name: Install packages
          community.general.xbps:
            name: "{{ item }}"
            repositories:
              - https://mirror.nju.edu.cn/voidlinux/current
              - https://mirror.nju.edu.cn/voidlinux/current/nonfree
          loop: "{{ system + gui + cli }}"
        - name: Regenerate initramfs
          become: true
          ansible.builtin.command:
            cmd: "xbps-reconfigure --force linux{{ ansible_facts.kernel | regex_search('\\d+\\.\\d+') }}"
          changed_when: true
    - name: Chezmoi
      ansible.builtin.include_role:
        name: update_chezmoi
