- name: Configure surface void linux
  hosts: surface-void
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install packages
      vars:
        system:
          - xfce4
          - xfce4-battery-plugin
          - xorg
          - intel-video-accel
          - void-repo-nonfree
          - intel-ucode
          - noto-fonts-ttf
          - noto-fonts-cjk
          - nerd-fonts
          - noto-fonts-emoji
        gui:
          - firefox
        cli:
          - chezmoi
          - fzf
          - git
          - starship
          - vim
          - zoxide
          - eza
          - duf
          - lf
          - ranger
          - helix
          - htop
          - btop
          - mpv
      become: true
      community.general.xbps:
        name: "{{ item }}"
        upgrade: true
        repositories:
          - https://mirror.nju.edu.cn/voidlinux/current
          - https://mirror.nju.edu.cn/voidlinux/current/nonfree
      loop: "{{ system + gui + cli }}"
    - name: Regenerate initramfs
      become: true
      ansible.builtin.command:
        cmd: "xbps-reconfigure --force linux{{ ansible_facts.kernel | regex_search('\\d+\\.\\d+') }}"
      changed_when: true
    # - name: Install packages
    #   become: true
    #   block:
    #     - name: Upgrade all packages
    #       vars:
    #         xbps_packages:
    #           - upgrade: true
    #       ansible.builtin.include_role:
    #         name: xbps
    #     - name: Install system packages
    #       vars:
    #         xbps_packages:
    #           - name:
    #               - xfce4
    #               - xfce4-battery-plugin
    #               - xorg
    #               - intel-video-accel
    #               - void-repo-nonfree
    #               - intel-ucode
    #               - noto-fonts-ttf
    #               - noto-fonts-cjk
    #               - nerd-fonts
    #               - noto-fonts-emoji
    #       ansible.builtin.include_role:
    #         name: xbps
    #     - name: Remove packages
    #       vars:
    #         xbps_packages:
    #           - name:
    #               - void-repo-nonfree
    #             state: absent
    #       ansible.builtin.include_role:
    #         name: xbps
    #     - name: Install graphic packages
    #       vars:
    #         xbps_packages:
    #           - name:
    #               - firefox
    #       ansible.builtin.include_role:
    #         name: xbps
    #     - name: Install shell packages
    #       vars:
    #         xbps_packages:
    #           - name:
    #               - chezmoi
    #               - fzf
    #               - git
    #               - starship
    #               - vim
    #               - zoxide
    #               - eza
    #               - duf
    #               - lf
    #               - ranger
    #               - helix
    #               - htop
    #               - btop
    #               - mpv
    #       ansible.builtin.include_role:
    #         name: xbps
    #     - name: Regenerate initramfs
    #       become: true
    #       ansible.builtin.command:
    #         cmd: "xbps-reconfigure --force linux{{ ansible_facts.kernel | regex_search('\\d+\\.\\d+') }}"
    #       changed_when: true
    - name: Chezmoi
      block:
        - name: Check chezomi folder
          ansible.builtin.stat:
            path: /home/zxc/.local/share/chezmoi
          register: chezmoi_stat
        - name: Chezmoi init
          ansible.builtin.command:
            cmd: chezmoi init ourgal
          changed_when: true
          when: not chezmoi_stat.stat.exists
        - name: Chezmoi apply
          ansible.builtin.command:
            cmd: chezmoi apply --force
          changed_when: true
          when: not chezmoi_stat.stat.exists
        - name: Chezmoi update
          ansible.builtin.command:
            cmd: chezmoi update --force
          changed_when: true
