- name: Configure surface void linux
  hosts: surface-void
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install packages
      become: true
      vars:
        system:
          - xfce4
          - xfce4-battery-plugin
          - xorg
          - intel-video-accel
          - intel-ucode
          - noto-fonts-ttf
          - noto-fonts-cjk
          - nerd-fonts
          - noto-fonts-emoji
        gui:
          - firefox
        cli:
          - Clipboard
          - 7zip
          - aria2
          - atool
          - atuin
          - bat
          - btop
          - buku
          - chezmoi
          - duf
          - eza
          - fd
          - fzf
          - git
          - git-annex
          - git-crypt
          - git-extras
          - gvim-huge
          - helix
          - htop
          - lazygit
          - lf
          - mmv
          - mpv
          - nnn
          - nodejs
          - python3-pipx
          - ranger
          - ripgrep
          - rsync
          - starship
          - tmux
          - transmission
          - tree
          - xclip
          - xsel
          - yt-dlp
          - zellij
          - zoxide
        dev:
          - shellcheck
          - uv
        ani_cli:
          - git
          - curl
          - aria2
          - grep
          - fzf
          - yt-dlp
          - ffmpeg
      block:
        - name: Upgrade all packages
          community.general.xbps:
            upgrade: true
        - name: Install packages
          community.general.xbps:
            name: "{{ item }}"
            repositories:
              - https://mirror.nju.edu.cn/voidlinux/current
              - https://mirror.nju.edu.cn/voidlinux/current/nonfree
          loop: "{{ system + gui + cli + dev + ani_cli | unique }}"
        - name: Regenerate initramfs
          become: true
          ansible.builtin.command:
            cmd: "xbps-reconfigure --force linux{{ ansible_facts.kernel | regex_search('\\d+\\.\\d+') }}"
          changed_when: true
    - name: Chezmoi
      ansible.builtin.include_role:
        name: update_chezmoi
