- name: Install debian linux
  hosts: surface-void
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install parted and debootstrap
      become: true
      community.general.xbps:
        name: "{{ item }}"
        repositories:
          - https://mirror.nju.edu.cn/voidlinux/current
          - https://mirror.nju.edu.cn/voidlinux/current/nonfree
      loop:
        - parted
        - debootstrap
        - xtools
    - name: Delete root partition
      become: true
      community.general.parted:
        device: /dev/nvme0n1
        number: 4
        state: absent
    - name: Root partition
      become: true
      community.general.parted:
        device: /dev/nvme0n1
        number: 4
        label: gpt
        name: debian_root
        fs_type: btrfs
        part_start: "{{ 2 + 512 + 1024 * 34 }}MiB"
        part_end: "{{ 2 + 512 + 1024 * 64 }}MiB"
        state: present
    - name: Format root
      become: true
      community.general.filesystem:
        dev: /dev/nvme0n1p4
        fstype: btrfs
        force: true
    - name: Mount other partitions
      become: true
      block:
        - name: Mount root
          ansible.posix.mount:
            src: /dev/nvme0n1p4
            path: /mnt
            opts: rw,noatime,compress=zstd:3,ssd,discard=async,space_cache=v2,subvol=/
            fstype: btrfs
            state: ephemeral
        - name: Save root to fstab
          ansible.posix.mount:
            src: /dev/nvme0n1p4
            path: /
            opts: rw,noatime,compress=zstd:3,ssd,discard=async,space_cache=v2,subvol=/
            fstype: btrfs
            state: present
            fstab: /mnt/etc/fstab
        - name: Mount boot
          ansible.posix.mount:
            src: /dev/nvme0n1p1
            path: /mnt/boot/efi
            opts: rw,fmask=0022,dmask=0022,codepage=437,iocharset=iso8859-1,shortname=mixed,utf8,errors=remount-ro
            fstype: vfat
            state: ephemeral
            passno: 2
        - name: Write boot to fstab
          ansible.posix.mount:
            src: /dev/nvme0n1p1
            path: /boot/efi
            opts: rw,fmask=0022,dmask=0022,codepage=437,iocharset=iso8859-1,shortname=mixed,utf8,errors=remount-ro
            fstype: vfat
            state: present
            fstab: /mnt/etc/fstab
            passno: 2
        - name: Write swap to fstab
          ansible.posix.mount:
            src: /dev/nvme0n1p2
            path: none
            opts: defaults
            fstype: swap
            state: present
            fstab: /mnt/etc/fstab
        - name: Write tmp to fstab
          ansible.posix.mount:
            src: tmpfs
            path: /tmp
            opts: defaults,nosuid,nodev
            fstype: tmpfs
            state: present
            fstab: /mnt/etc/fstab
    - name: Run debootstrap
      become: true
      ansible.builtin.command:
        cmd: debootstrap --arch amd64 trixie /mnt https://mirrors.aliyun.com/debian/
      changed_when: true
    - name: Set timezone
      become: true
      ansible.builtin.file:
        src: /usr/share/zoneinfo/Asia/Hong_kong
        dest: /mnt/etc/localtime
        state: link
        force: true
    - name: Set hostname
      become: true
      ansible.builtin.copy:
        dest: /mnt/etc/hostname
        content: |
          surface-debian
        mode: "0644"
    - name: Set apt sources
      become: true
      ansible.builtin.copy:
        dest: /mnt/etc/apt/sources.list
        content: |
          deb https://mirrors.aliyun.com/debian/ trixie main non-free-firmware
          deb-src https://mirrors.aliyun.com/debian/ trixie main non-free-firmware

          deb https://mirrors.aliyun.com/debian-security/ trixie-security main non-free-firmware
          deb-src https://mirrors.aliyun.com/debian-security/ trixie-security main non-free-firmware
        mode: "0644"
    - name: Set locale
      become: true
      ansible.builtin.copy:
        dest: /mnt/etc/locale.gen
        content: |
          en_US.UTF-8 UTF-8
        mode: "0644"
    - name: Run chroot scirpt
      vars:
        chroot_script_content: |
          set -euo pipefail
          apt update
          apt install -y util-linux-extra linux-image-amd64 grub-efi sudo btrfs-progs locales ssh dhcpcd resolvconf network-manager firmware-libertas

          hwclock --systohc

          printf "root:{{ lookup('gopass', 'password/linux/root') | trim }}" | chpasswd
          useradd -m zxc
          printf "zxc:{{ lookup('gopass', 'password/linux/user') | trim }}" | chpasswd
          usermod -aG sudo zxc

          chsh zxc -s /bin/bash
      ansible.builtin.include_role:
        name: chroot_script
    - name: Update grub
      become: true
      ansible.builtin.command:
        cmd: update-grub
      changed_when: true
    - name: Set sshd authorized keys
      ansible.builtin.include_role:
        name: chroot_sshd_authorized_keys
