- name: Install void linux
  hosts: void-live
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install parted
      become: true
      community.general.xbps:
        name: parted
        repositories: https://mirror.nju.edu.cn/voidlinux/current
    - name: Add partitions
      become: true
      vars:
        device: /dev/nvme0n1
        start: 2
        boot_size: 512
        swap_size: "{{ 1024 * 4 }}"
        root_size: "{{ 1024 * 20 }}"
      block:
        - name: Boot partition
          community.general.parted:
            device: "{{ device }}"
            number: 1
            fs_type: fat32
            part_start: "{{ start }}MiB"
            part_end: "{{ start + boot_size }}MiB"
        - name: Swap partition
          community.general.parted:
            device: "{{ device }}"
            number: 2
            fs_type: swap
            part_start: "{{ boot_size | int + start }}MiB"
            part_end: "{{ boot_size | int + swap_size | int + start }}MiB"
        - name: Root partition
          community.general.parted:
            device: "{{ device }}"
            number: 3
            fs_type: swap
            part_start: "{{ swap_size | int + boot_size | int + start }}MiB"
            part_end: "{{ root_size | int + swap_size | int + boot_size | int + start }}MiB"
    - name: Format file systems
      become: true
      vars:
        filesystem_number: 0
        filesystem_device: /dev/nvme0n1
      block:
        - name: Format boot
          community.general.filesystem:
            dev: "{{ filesystem_device }}p1"
            fstype: vfat
        - name: Format swap
          community.general.filesystem:
            dev: "{{ filesystem_device }}p2"
            fstype: swap
        - name: Format root
          community.general.filesystem:
            dev: "{{ filesystem_device }}p3"
            fstype: btrfs
            force: true
    - name: Mount all partitions
      become: true
      block:
        - name: Mount root
          ansible.posix.mount:
            src: /dev/nvme0n1p3
            path: /mnt
            fstype: btrfs
            opts: compress=zstd,noatime
            state: ephemeral
        - name: Mount boot
          ansible.posix.mount:
            src: /dev/nvme0n1p1
            path: /mnt/boot/efi
            fstype: vfat
            state: ephemeral
    - name: Find repository keys to install into a new void system on a mounted partition
      block:
        - name: Search key files
          ansible.builtin.find:
            path: /var/db/xbps/keys
            pattern: "*.plist"
          register: xbps_keys
        - name: Create folder
          become: true
          ansible.builtin.file:
            path: /mnt/var/db/xbps/keys
            state: directory
            mode: "0755"
            owner: root
            group: root
        - name: Copy repository keys to into a new void system on a mounted partition
          become: true
          ansible.builtin.copy:
            remote_src: true
            src: "{{ item }}"
            dest: "/mnt{{ item }}"
            owner: root
            group: root
            mode: "0644"
          when: xbps_keys.matched > 0
          loop: "{{ xbps_keys.files | map(attribute='path') }}"
    - name: Install packages in mnt
      become: true
      community.general.xbps:
        name: "{{ item }}"
        root: /mnt
        repositories: https://mirror.nju.edu.cn/voidlinux/current
      loop:
        - base-system
        - grub-x86_64-efi
        - avahi
        - nss-mdns
        - python3
      environment:
        XBPS_ARCH: "{{ ansible_facts.machine }}"
    - name: Enable swap
      become: true
      ansible.builtin.command:
        cmd: swapon /dev/nvme0n1p2
      changed_when: true
      when: ansible_facts.swaptotal_mb < 1
    - name: Set timezone
      become: true
      ansible.builtin.file:
        src: /usr/share/zoneinfo/Hongkong
        dest: /mnt/etc/localtime
        state: link
        force: true
    - name: Enable services
      become: true
      ansible.builtin.file:
        src: "/etc/sv/{{ item }}"
        dest: "/mnt/etc/runit/runsvdir/default/{{ item }}"
        state: link
        force: true
      loop:
        - dhcpcd
        - sshd
        - avahi-daemon
    - name: Create files
      become: true
      tags: files
      block:
        - name: Create ssh authorized keys folder
          become: true
          ansible.builtin.file:
            path: /mnt/etc/ssh/authorized_keys.d
            state: directory
            mode: "0755"
            owner: root
            group: root
        - name: Copy ssh root authorized keys
          ansible.builtin.copy:
            src: "/etc/ssh/authorized_keys.d/{{ item }}"
            dest: "/mnt/etc/ssh/authorized_keys.d/{{ item }}"
            mode: "0644"
          loop:
            - root
            - zxc
        - name: Set hostname
          ansible.builtin.copy:
            dest: /mnt/etc/hostname
            content: |
              surface-void
            mode: "0644"
        - name: Set xbps mirror
          ansible.builtin.copy:
            dest: /mnt/etc/xbps.d/00-repository-main.conf
            content: |
              repository=https://mirror.nju.edu.cn/voidlinux/current
            mode: "0644"
        - name: Set system ssh rsa private key
          ansible.builtin.copy:
            dest: /mnt/etc/ssh/ssh_host_rsa_key
            content: "{{ lookup('gopass', 'ssh/surface-void/system/rsa_key') }}"
            mode: "600"
        - name: Set system ssh rsa public key
          ansible.builtin.copy:
            dest: /mnt/etc/ssh/ssh_host_rsa_key.pub
            content: "{{ lookup('gopass', 'ssh/surface-void/system/rsa_key.pub') }}"
            mode: "644"
        - name: Set system ssh ed25519 private key
          ansible.builtin.copy:
            dest: /mnt/etc/ssh/ssh_host_ed25519_key
            content: "{{ lookup('gopass', 'ssh/surface-void/system/ed25519_key') }}"
            mode: "600"
        - name: Set system ssh ed25519 public key
          ansible.builtin.copy:
            dest: /mnt/etc/ssh/ssh_host_ed25519_key.pub
            content: "{{ lookup('gopass', 'ssh/surface-void/system/ed25519_key.pub') }}"
            mode: "644"
        - name: Set system ssh ecdsa private key
          ansible.builtin.copy:
            dest: /mnt/etc/ssh/ssh_host_ecdsa_key
            content: "{{ lookup('gopass', 'ssh/surface-void/system/ecdsa_key') }}"
            mode: "600"
        - name: Set system ssh ecdsa public key
          ansible.builtin.copy:
            dest: /mnt/etc/ssh/ssh_host_ecdsa_key.pub
            content: "{{ lookup('gopass', 'ssh/surface-void/system/ecdsa_key.pub') }}"
            mode: "644"
        - name: Create chroot script
          ansible.builtin.copy:
            dest: /mnt/config
            mode: "755"
            content: |
              xbps-reconfigure -f glibc-locales
              yes {{ lookup('gopass', 'password/linux/root') | trim }} | passwd root
              grub-install --target=x86_64-efi --efi-directory=/boot/efi --bootloader-id="Void"
              xbps-reconfigure -fa
              useradd -m zxc
              yes {{ lookup('gopass', 'password/linux/user') | trim }} | passwd zxc
              usermod -aG wheel zxc
    - name: Config file
      become: true
      block:
        - name: Set /etc/rc.conf
          ansible.builtin.lineinfile:
            path: /mnt/etc/rc.conf
            line: KEYMAP=us
        - name: Set locale
          ansible.builtin.lineinfile:
            path: /mnt/etc/default/libc-locales
            line: en_US.UTF-8 UTF-8
        - name: Set sudoers
          ansible.builtin.lineinfile:
            path: /mnt/etc/sudoers
            line: "%wheel ALL=(ALL:ALL) ALL"
    - name: Generate fstab
      become: true
      ansible.builtin.shell:
        cmd: set -o pipefail && xgenfstab -U /mnt | sudo tee /mnt/etc/fstab
        executable: /bin/bash
      changed_when: true
    - name: Run chroot script
      become: true
      ansible.builtin.command:
        cmd: xchroot /mnt /bin/bash /config
      changed_when: true
    - name: Delete chroot script
      become: true
      ansible.builtin.file:
        path: /mnt/config
        state: absent
