- name: Install kail linux
  hosts: surface-void
  vars:
    root: /mnt/root
  tasks:
    - name: Debug variables
      ansible.builtin.debug:
        var: ansible_facts
    - name: Install tools
      become: true
      community.general.xbps:
        name: "{{ item }}"
        repositories:
          - https://mirror.nju.edu.cn/voidlinux/current
          - https://mirror.nju.edu.cn/voidlinux/current/nonfree
      loop:
        - parted
        - squashfs-tools
    - name: Create root partition
      become: true
      block:
        - name: Delete root partition
          community.general.parted:
            device: /dev/nvme0n1
            number: 6
            state: absent
        - name: Root partition
          community.general.parted:
            device: /dev/nvme0n1
            number: 6
            label: gpt
            name: kail_root
            fs_type: btrfs
            part_start: "{{ 2 + 512 + 1024 * 94 }}MiB"
            part_end: "{{ 2 + 512 + 1024 * 124 }}MiB"
            state: present
        - name: Format root
          community.general.filesystem:
            dev: /dev/nvme0n1p6
            fstype: btrfs
            force: true
    - name: Copy iso to void
      become: true
      ansible.builtin.copy:
        src: /home/zxc/Downloads/kali-linux-2025.4-live-amd64.iso
        dest: /root/kali-linux-2025.4-live-amd64.iso
        mode: "0644"
        checksum: 0f40a4e957a05d5d2ffe35f3f8155e813044a3b6
    - name: Mount
      become: true
      block:
        - name: Create mount point
          ansible.builtin.file:
            path: "/mnt/{{ item }}"
            state: directory
            mode: "0755"
          loop:
            - iso
            - root
        - name: Mount iso
          ansible.posix.mount:
            src: /root/kali-linux-2025.4-live-amd64.iso
            path: /mnt/iso
            opts: ro,loop
            fstype: auto
            state: ephemeral
        - name: Mount kail root
          ansible.posix.mount:
            src: /dev/nvme0n1p6
            path: "{{ root }}"
            fstype: btrfs
            state: ephemeral
    - name: Copy rootfs to kail root
      become: true
      changed_when: true
      ansible.builtin.command:
        cmd: "unsquashfs -d {{ root }} /mnt/iso/live/filesystem.squashfs"
    - name: Add configure files
      become: true
      block:
        - name: Set apt sources
          ansible.builtin.copy:
            dest: "{{ root }}/etc/apt/sources.list"
            content: |
              deb https://mirrors.aliyun.com/kali kali-rolling main non-free contrib non-free-firmware
              deb-src https://mirrors.aliyun.com/kali kali-rolling main non-free contrib non-free-firmware
            mode: "0644"
        - name: Set locale
          ansible.builtin.copy:
            dest: "{{ root }}/etc/locale.gen"
            content: |
              en_US.UTF-8 UTF-8
            mode: "0644"
        - name: Set hostname
          ansible.builtin.copy:
            dest: "{{ root }}/etc/hostname"
            content: |
              surface-kali
            mode: "0644"
        - name: Create mount point
          ansible.builtin.file:
            path: "{{ root }}/{{ item }}"
            state: directory
            mode: "0755"
          loop:
            - dev
        - name: Set resolv.conf
          ansible.builtin.copy:
            src: /etc/resolv.conf
            dest: "{{ root }}/etc/resolv.conf"
            remote_src: true
            mode: "0644"
        - name: Set timezone
          become: true
          ansible.builtin.file:
            src: /usr/share/zoneinfo/Asia/Hong_kong
            dest: "{{ root }}/etc/localtime"
            state: link
            force: true
    - name: Write to fstab
      become: true
      block:
        - name: Save root to fstab
          ansible.posix.mount:
            src: /dev/nvme0n1p6
            path: /
            opts: rw,noatime,compress=zstd:3,ssd,discard=async,space_cache=v2,subvol=/
            fstype: btrfs
            state: present
            fstab: "{{ root }}/etc/fstab"
        - name: Write swap to fstab
          ansible.posix.mount:
            src: /dev/nvme0n1p2
            path: none
            opts: defaults
            fstype: swap
            state: present
            fstab: "{{ root }}/etc/fstab"
        - name: Write tmp to fstab
          ansible.posix.mount:
            src: tmpfs
            path: /tmp
            opts: defaults,nosuid,nodev
            fstype: tmpfs
            state: present
            fstab: "{{ root }}/etc/fstab"
    - name: Run chroot scirpt
      vars:
        chroot_script_root: "{{ root }}"
        chroot_script_content: |
          set -euo pipefail
          apt update
          apt install -y util-linux-extra grub-efi sudo btrfs-progs locales ssh resolvconf network-manager firmware-libertas

          locale-gen

          systemctl enable ssh

          hwclock --systohc

          printf "root:{{ lookup('gopass', 'password/linux/root') | trim }}" | chpasswd
          useradd -m zxc
          printf "zxc:{{ lookup('gopass', 'password/linux/user') | trim }}" | chpasswd
          usermod -aG sudo zxc

          chsh zxc -s /bin/bash
      ansible.builtin.include_role:
        name: chroot_script
    - name: Update grub
      become: true
      ansible.builtin.command:
        cmd: update-grub
      changed_when: true
    - name: Set sshd authorized keys
      vars:
        chroot_sshd_authorized_keys_root: "{{ root }}"
      ansible.builtin.include_role:
        name: chroot_sshd_authorized_keys
